* {
	box-sizing: border-box;
}

body {
	background: #7f8c8d;
	margin-bottom: 40px;
}
.container {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	background: #ecf0f1;
	z-index: 9999;
}

header {
	position: relative;
	height: 250px;
	background: #2ecc71;
	border-bottom: #27ae60 solid 7px;
	color: #fff;
}

.logo {
	position: absolute;
	left: 0;
	bottom: 0;
	text-indent: 5px;
}

nav ul {
	list-style: none;
	background: #34495e;
	width: 100%;
	float: right;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 60px;
}

nav li {
	display: inline;
	margin: 15px;
	float: right;
	color: #fff;
}

aside {
	background: #fff;
	position: absolute;
	padding: 0px 23px;
	top: 16em;
	left: 60em;
	border-bottom: #606060 solid 4px;
}

.container-alt {
	width: 550;
	margin-right: auto;
	margin-left: auto;
}

h2 {
	font-size: 20px;
	text-indent: -11px;
}

p {
	font-size: 13px;
}

.link {
	color: #FF9900;
	text-decoration: none;
}

table {
	font-size:13px;
}
table td {
	border: solid 1px #000;
	text-align: left;
	padding:8px 11px;
}

tr:first-child {
	background: #bdc3c7;
	font-weight: bold;
}

.button {
	padding:5px 30px;
	color: #fff;
	background:#3498db;
	text-decoration: none
}

.js-script {
	background: #bdc3c7;
	padding: 10px 20px;
}

ol{
	padding-left: 0px;
}
ol li {
	font-size: 13px;
}

.author-post {
	font-size: 10px;
	color: #909090;
	text-indent: 10px;
	margin-bottom: 60px;
}

.form-input label {
	display: inline-block;
	font-size: 13px;
	width: 100%;
	text-align: right;
}

input {
	margin: 5px;
	width: 320px;
	right: 0;
}

textarea {
	width: 100%;
	margin-bottom: 15px;
}

fieldset {
	border-left: none;
	border-bottom: none;
	border-right: none;
	border-color: #cccccc;
	padding-top: 20px;
	padding-bottom: 20px;

}

legend {
	font-size: 13px;
	color: #cccccc;
	padding: 0px 5px;
}

.btn-submit {
	background: #c0392b;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	width: 100%;
	font-size: 14px;
	padding: 2% 0%;
	text-transform: uppercase;
	
}

.comments img {
	float: left;
	margin-right: 5px;
}

.comment-user-alt {
	margin: 3.5em;
	border-left: #D0D0D0 solid 1px;
	padding-left: 17px;
}

.comment-stream h6 {
	margin-bottom: 10px;
	font-size: 16px;
}

.comment-stream date {
	color: #cccccc;
	font-size:13px;
}

.padding-bottom  {
	padding-bottom: 50px;
}
